/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO */
.user-container {
  min-height: 100vh;
  padding: 20px;

  font-family: 'Inter', sans-serif;

  background: linear-gradient(180deg, #f4fbff 0%, #ffffff 100%);
  position: relative;
  overflow: hidden;
}

/* DECORAÇÃO */
.user-container::before,
.user-container::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #1F8500 0%, transparent 70%);
  opacity: 0.15;
  border-radius: 50%;
}

.user-container::before {
  top: -120px;
  left: -120px;
}

.user-container::after {
  bottom: -120px;
  right: -120px;
}

/* HEADER */
.user-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.title-top {
  font-weight: 700;
  color: #333;
}

/* PERFIL */
.profile-card {
  text-align: center;
  margin-top: 20px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 0 auto;
}

.profile-card h2 {
  margin-top: 10px;
  font-weight: 800;
}

.profile-card p {
  color: gray;
}

/* CARD GERAL */
.card {
  margin-top: 20px;
  padding: 16px;

  background: rgba(215, 236, 247, 0.7);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* TITULO */
.card h3 {
  color: #1F8500;
  margin-bottom: 10px;
}

/* BOTÕES DE ACESSO */
.access-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-lock {
  width: 60px;
  height: 40px;

  border-radius: 999px;
  border: none;

  background: linear-gradient(145deg, #2aa600, #1F8500);
  color: white;

  font-size: 18px;
  cursor: pointer;
}

/* LINHAS USUÁRIOS */
.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
}

.row-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mini-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-row p {
  font-size: 12px;
  color: gray;
}

.lock {
  font-size: 18px;
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
}

/* RADIO */
.radio-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* BOTÃO ADICIONAR */
.add-btn {
  margin-top: 15px;
  width: 100%;

  padding: 12px;
  border-radius: 999px;

  border: none;
  background: #1F8500;
  color: white;

  font-weight: 800;
  cursor: pointer;

  box-shadow: 0 6px 15px rgba(31, 133, 0, 0.25);
}

.add-btn:hover {
  transform: translateY(-2px);
}

